# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.eggs/

# Env
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# scripst
/scripts
.py
.ps1


# Node
node_modules/
.next/
dist/
build/

# DB
*.sqlite3
*.db

# Logs
*.log
logs/
